<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block extra_css %}
    <!-- Placeholder for additional CSS files -->
    {% endblock %}
    <title>{% block title %}Ticketing Portal{% endblock title %}</title>
</head>
<body>
    {% block navibar %}
    <div class='navi-bar'>
        <div class='logo-div'>
            <img src="{% static 'images/logo.webp' %}" class='logo'>
        </div>
        <div>
            <a href="{% url 'view_tickets' %}" class='navi-bar-tickets'>Tickets</a>
            <a href="{% url 'create_ticket' %}">Submit a Ticket</a>
        </div>
    </div>
    {% endblock navibar %}
    <div class='content'>
        {% block content %}{% endblock content %}
    </div>
</body>
</html>

